@model List<WebAppi.Models.Shoe>

@{
ViewData["Title"] = "Home Page";
Layout = "_Layout";
}

<main>
    <img src="~/img/main.svg" alt="Main Shoe Image">
    <div class="main">
        <h2>@Model.First().Name</h2>
        <p>$ @Model.First().Price</p>
        <ul>
            <li>US 7</li>
            <li>US 8</li>
            <li>US 9</li>
            <li>US 10</li>
            <li>US 11</li>
            <li>US 12</li>
        </ul>
        <h4>For orders above $150, standard shipping is always free!</h4>
    </div>
</main>
