@model WebAppi.Models.Shoe

@{
ViewData["Title"] = Model.Name;
Layout = "_Layout";
}

<main>
    <img src="@Model.ImageUrl" alt="Shoe Image">
    <div class="main">
        <h2>@Model.Name</h2>
        <p>$ @Model.Price</p>
        <ul>
            <li>US 7</li>
            <li>US 8</li>
            <li>US 9</li>
            <li>US 10</li>
            <li>US 11</li>
            <li>US 12</li>
        </ul>
        <h4>For orders above $150, standard shipping is always free!</h4>
    </div>
</main>

<section>
</section>
